<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="TestSuite" configfailurepolicy="continue" verbose="10"  thread-count="5">

    <listeners>
        <listener class-name="com.sap.config.TestNGListener"/>
    </listeners>

    <parameter name="browser"     value="chrome"/>
    <test name="Test">
        <classes>
            <class name="com.sap.test_cases.TC_Demo">
                <methods>
                    <include name="login"/>
                    <include name="scenario_1"/>
                    <include name="scenario_2"/>
                    <include name="scenario_3"/>
                    <include name="scenario_4"/>
                    <include name="scenario_5"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>




